
<VirtualHost {{ apache_listen_ip }}:{{ apache_listen_port }}>
  ServerName {{ vhost.servername }}
  ServerAlias {{ vhost.serveralias }}
  DocumentRoot {{ vhost.documentroot }}

  ServerAdmin {{ vhost.serveradmin }}
  <Directory "{{ vhost.documentroot }}">
    AllowOverride {{ vhost.allow_override | default(apache_allow_override) }}
    Options {{ vhost.options | default(apache_options) }}
    Order allow,deny
    Allow from all
    Require all granted
  </Directory>
</VirtualHost>
